<!DOCTYPE HTML>
<!--
	Binary by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>

<head>
    <title>
        梦回欧洲 - Youthful Dream</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../assets/css/main.css" />
</head>

<body>
    <!-- Header -->
    <header id="header">
        <a href="../index.html" class="logo"><strong>Youthful Dream</strong></a>
        <nav>
            <a href="#menu">Menu</a>
        </nav>
    </header>

    <!-- Nav -->
    <nav id="menu">
        <ul class="links">
            <li><a href="../index.html">Home</a>
            </li>
            <li><a href="../about/about.html">About</a>
            </li>
            <li><a href="../reflectJournal/reflectJournal.html">Reflections & Journal</a>
            </li>
            <li><a href="../fiction/fiction.html">Fiction</a>
            </li>
            <li><a href="../poems/poems.html">Poems</a>
            </li>
            <li><a href="../prose/prose.html">Prose</a>
            </li>
            <li><a href="../misc/misc.html">Miscellaneous</a>
            </li>
        </ul>
    </nav>

    <!-- Main -->
    <section id="main">
        <div class="inner">
            <div class="row 50% uniform">
                <div class="6u"><span class="image fit"><img src="../images/imgReflectJournal/calvin-hanson-671278-unsplash.jpg" alt="Globe displaying Europe" /></span>
                </div>
            </div>
            <header>
                <h1>梦回欧洲</h1>
                <h4><!- -TODO Date mm.dd.yyyy- -> &ensp; Filed under: <font color ='#1abc9c'><a href = 'TODO category'><!- -TODO category name- -></a></font>.</h4>

            </header>
            <p>
                <!--Start Article   <br><br>&emsp;&emsp;   -->
                &emsp;&emsp;我的这个暑假过得是平凡而忙碌的。说是平凡，是因为到目前为止， 我还没有去任何地方旅游。说是繁忙，是因为不同的工作占据了我的时间 表。这个平凡又忙碌的暑假已经过去了三分之二，若是不翻看手机日历，我 早已记不清准确的日子了。偶然看到手机里的日期，现在正值七月底，我的 思绪又回到了一年之前。而打开 Facebook，许多参加世青节的朋友又发了些 照片纪念一年前的难忘时光。记得上一次较重的感冒正是在一年前的欧洲， 而这个时候，感冒又 “适时地” 回到我身上，提醒我 2016 年的夏天，那个 愉快而又难忘的旅行已经过去一年了。
                <br>
                <br>&emsp;&emsp; 记得去年的 8 月 22 日，我们从欧洲回来的时候，我短暂地休息了一星 期，然后就开始了我的大学生活。学业繁重，时光匆匆。时而缤纷多彩，时 而枯燥无色的生活，在时间的长河中，不休不止地过去了一天又一天。2016 年夏天，那些值得回味，值得珍藏，值得留恋的点点滴滴，被小心翼翼地存 放在心中的某个角落，而我，却少有闲暇将它打开，重新感受。午夜入梦， 也少有梦回。
                <br>
                <br>&emsp;&emsp; 7 月 9 日，我们在中国城有个世青节的重聚。本来这个重聚应该是在去 年的冬天，但是在重聚的前几天，天气预报说我们原定的日期晚上会下雪， 于是重聚便被取消了。不过略显无语的是最后并没有下雪。好事多磨，经过 一年的等待后，我们再一次相聚。在午餐的时候，投影仪不停地放送着一张 张去年夏天的照片，音响也放送着一首首属于去年夏天的歌。照片将那些瞬 间定格，欢乐在音符中洋溢。这一切，都在告诉我，去年的旅行，如梦似 幻，却是真真确确地发生过。我们在短暂地用餐后，围成一个圆圈，分享自 己对整个朝圣的感受。
                <br>
                <br>&emsp;&emsp; 我会怀念，那个每天都要参与弥撒的夏天；我会怀念，那个乘坐同一 辆大巴在欧洲大陆上旅行的夏天；我会怀念，那个肩膀酸痛，双腿疲乏的夏 天。
                <br>
                <br>&emsp;&emsp; 我会怀念欧洲悠远的历史文化；我会怀念不同国家的风土人情；我会 怀念圣堂的庄严神圣；我会怀念街头巷尾的冰淇淋店。
                <br>
                <br>&emsp;&emsp; 我会怀念，我们穿着雨衣在雨中行走的日子；我会怀念，火腿三明治 和芝士三明治当午餐的日子；我会怀念，那些因为室友鼾声而难以入睡的夜 晚；我会怀念，在感冒中度过的几个星期……
                <br>
                <br>&emsp;&emsp; 值得怀念的有很多。记忆虽然难忘，但终究会随着时间慢慢遗忘。这 些记忆就像夜空中的繁星，无论是明亮或是昏暗，无论是清晰或是模糊，它 们都在点缀着我的星空。下一次的旅行，会是何时？期待着，再出发。

                <!--End Article -->
            </p>
        </div>
    </section>

    <!-- Footer -->
    <footer id="footer">
        <ul class="icons">
            <li><a href="https://github.com/YouthfulDream/YouthfulDream.github.io" class="icon fa-github"><span class="label">GitHub</span></a>
            </li>
            <li><a href="https://www.facebook.com/profile.php?id=100005433241070" class="icon fa-facebook"><span class="label">Facebook</span></a>
            </li>
            <li><a href="mailto:YouthfulDream18@gmail.com" class="icon fa-envelope"><span class="label">Email</span></a>
            </li>
        </ul>
        <div class="copyright">
            &copy; <a href="../about/about.html">Jie Chen</a>. Webmaster: <a href="../about/webmaster.html">Lucas Soohoo</a>. Design: <a href="https://templated.co">TEMPLATED</a>. <a href="../images/imageCredits.html">Image Credits</a>.
        </div>
    </footer>

    <!-- Scripts -->
    <script src="../assets/js/jquery.min.js"></script>
    <script src="../assets/js/jquery.scrolly.min.js"></script>
    <script src="../assets/js/skel.min.js"></script>
    <script src="../assets/js/util.js"></script>
    <script src="../assets/js/main.js"></script>

</body>

</html>