Copy info for 181231closing2018.html
Photographer Credits:
<tr><td><a href ="https://unsplash.com/photos/NczMOp6fiag">Steven VanDesande Jr</a></td><td><a href ="../reflectJournal/181231closing2018.html">谢幕，2018</a></td></tr>

'Featured' Article code
Delete the 'three' block from the bottom of index.html and paste the following after 'Begin Featured'

<!-- Start three --><article id="three" class="post style2">  <div class="image">    <img src="images/Reflectjournal/steven-vandesande-jr-503999-unsplash.jpg" alt="'2018' written with sparklers" data-position="75% center" />  </div>  <div class="content">    <div class="inner">      <header>        <h2><a href="reflectJournal\181231closing2018.html">谢幕，2018</a></h2>      <p class="info">12.31.2018 &ensp; 种类:    <font color='#1abc9c'><a href='reflectJournal\reflectJournal.html'>反思&日志</a></font>.        </p>      </header>      <p>         <!-- Feature Description goes here -->匆匆又是一年              </p>      <ul class="actions"> <li><a href="reflectJournal\181231closing2018.html" class="button alt">阅读更多</a>        </li>      </ul>    </div>    <div class="postnav">        <a href="#" class="prev disabled"><span class="icon fa-chevron-up"></span></a>      <a href="#four" class="scrolly next"><span class="icon fa-chevron-down"></span></a>    </div>  </div></article><!-- End three -->
 change class:  'prev disabled' => 'scrolly prev'

Code for reflectJournal.html
<tr><td><a href='181231closing2018.html'>谢幕，2018</a></td><td>匆匆又是一年</td><td>12.31.2018</td></tr>
 NOW COPY/paste THE ARTICLE CONTENT